@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  user-select: none;
}
html, body {
  height: 100vh;


  

}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* App.tsx styles*/
.HeaderElementsContainer{
  display: grid;
  grid-template-columns: 12.3vw 23.3vw;
  position: relative;
  left: 6vw;
  top: 5.5vh;
  width: 36vw;
  align-items: center;
}

.HeaderElementsContainer a{
width: fit-content;
height: fit-content;
}

.Logo{
  width: 4.3vw;
  height: 13vh;
}

.HeaderInputStyle{
  background-color: #eeeeee !important;
  display: grid;
  align-items: center;
  border: none;
  height: 0;
  border-radius: 4vh;
  transition: all .2s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 0.4vmin;
  padding: 2.46vmin;
  text-align: inherit;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  /*width: fill-available;*/
}

.HeaderInputIcon{
  background: url("./media/SearchIcon.svg");
  padding-left: 6.7vmin;
  background-position: left;
  background-size: 7vmin 3vmin;
  background-repeat: no-repeat;
  font-size: 1.25vw;
}

.DateAndLocationContainer{
  display: grid;
  grid-template-columns: auto 17vw;
  column-gap: 1.2vw;
  width: fit-content;
  left: 5.6vw;
  top: 11.1vmin;
  position: relative;
  align-items: center;
  justify-items: end;
  height: 12vh;
}

.LocationBlock{
  display: grid;
  grid-template-columns: 4vw max-content;
  align-items: center;
}

.LocationBlock h1{
  margin-top: 2.9vmin !important;
  margin: 0;
  font-size: 2.1vw;
  font-weight: 600;
  white-space: nowrap;
  width: fit-content;
}

.DateBlock{
  display: grid;

}

.DateBlock h4{
  font-size: 3.2vw;
  margin: 0;
  font-weight: 200;
}

.WeatherContainer{
  display: grid;
  top: 4vh;
  left: 5.45vw;
  position: relative;
  width: fit-content;
  align-items: center;
  justify-items: start;
  justify-content: start;
}

.WeatherText{
  display: grid;
  grid-template-rows: 33vmin 10vmin;
  top: 6vmin;
  position: relative;
  align-items: center;
}

.WeatherTextContainer{
  display: grid;
  height: fit-content;
}

.WeatherTextContainer h1{
  font-weight: 100;
font-size: 17.7vw;
margin: 0;
height: fit-content;
}



.WeatherInfoContainer{
  display: grid;
}


.WeatherInfoContainer h3{
  font-size: 5.75vw;
margin: 0;
font-weight: 600;
}



.WeatherBackText{
  font-weight: 100;
  font-size: 44vw;
  position: absolute;
  color: #d9d9d9;
  top: -15.34vw;
  left: -0.5vw;
  margin: 0 !important;
  letter-spacing: 0vw;
  height: fit-content;
  z-index: -9999;
}


/*error modal block!*/

.ErrorModalWrapper{
  display: grid;
  position: fixed;
  background: rgba(96, 96, 96, 0.76);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  z-index: 9999;
}

.ErrorModalTextInfo{
  background-color: #fff;
  border: 1vh;
  height: 32vmin;
  width: 42vw;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: start;
  justify-content: center;
  grid-template-rows: 5vmin 4vmin 9vmin 3vmin;
}

.ErrorModalTextInfo h1{
font-size: 1.5vw;
margin: 0;
}

.ErrorModalTextInfo h2{
  font-size: 0.8vw;
  margin: 0;
  }

  .ErrorModalTextInfo li{
    font-size: 0.8vw;
    margin: 0;
    }
  .ErrorModalTextInfo ol{
    margin: 0;
    padding: 0;
    padding-left: 2vw;
    display: grid;
    justify-items: start;
  }

  .ErrorModalWrapper button{
    background: none;
    outline: unset;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    margin-top: -31.4vmin;
    left: 69.7%;
  }

  .WeatherIcon{
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 480px) {
  html, body {
    height: 115vh;
    position: absolute;
}
  .HeaderElementsContainer {
    display: grid;
    grid-template-columns: 18.3vw 61.3vw;
    position: relative;
    left: 11vw;
    top: 2.5vh;
    width: 82vw;
    align-items: center;
}

.HeaderInputStyle {
  background-color: #eeeeee !important;
  display: grid;
  align-items: center;
  border: none;
  height: 0;
  border-radius: 4vh;
  transition: all .2s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-top: 3.4vmin;
  padding: 4.46vmin;
  text-align: inherit;
  width: -webkit-fill-available;
  outline: none;
}
  .HeaderInputIcon {
    padding-left: 10.7vmin;
    background-position: left;
    background-size: 11vmin 5vmin;
    background-repeat: no-repeat;
    font-size: 4.25vw;
}

.WeatherContainer {
  left: 0;
  top: 123vmin;
}

.WeatherText {
  display: grid;
  grid-template-rows: 33vmin 10vmin;
  top: 0;
  width: 100vw;
  position: relative;
  align-items: center;
  text-align: center;
}

.WeatherTextContainer h1 {
  font-weight: 100;
  font-size: 31.7vw;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.WeatherBackText {
  font-weight: 100;
  font-size: 39vw;
  position: absolute;
  color: #d9d9d9;
  top: -20.34vw;
  left: 5vw;
  margin: 0 !important;
  letter-spacing: 0vw;
  height: -moz-fit-content;
  height: fit-content;
  z-index: -9999;
}

.WeatherInfoContainer {
  display: grid;
  margin-top: 6.8vmin;
}

.WeatherInfoContainer h3 {
  font-size: 9.75vw;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

.DateAndLocationContainer {
  display: grid;
  grid-template-columns: auto 56vw;
  column-gap: 1.2vw;
  width: -moz-fit-content;
  width: fit-content;
  left: 10.3vw;
  top: 119vmin;
  position: absolute;
  justify-items: end;
  height: 11vh;
  align-items: center;
}

.DateBlock {
  display: grid;
  height: 7vmin;
}

.DateBlock h4 {
  font-size: 5.55vw;
  margin: 0;
  font-weight: 200;
}

.LocationBlock h1 {
  margin-top: 4.9vmin !important;
  margin: 0;
  font-size: 4.1vw;
  font-weight: 600;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}

.LocationBlock {
  display: grid;
  grid-template-columns: 8vw max-content;
  align-items: center;
}

.ErrorModalTextInfo {
  background-color: #fff;
  border: 1vh;
  height: 46vmin;
  width: 73vw;
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: start;
  justify-content: center;
  grid-template-rows: 13vmin 6vmin 12vmin 5vmin;
}

.ErrorModalTextInfo h1 {
  font-size: 7.5vw;
  margin: 0;
}

.ErrorModalTextInfo h2 {
  font-size: 2.3vw;
  margin: 0;
}

.ErrorModalTextInfo ol {
  margin: 0;
  padding: 0;
  padding-left: 3vw;
  display: grid;
  justify-items: start;
}

.ErrorModalTextInfo li {
  font-size: 1.8vw;
  margin: 0;
}

.ErrorModalWrapper button {
  background: none;
  outline: unset;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  position: absolute;
  margin-top: -44.4vmin;
  left: 80.7%;
}

  
}